DB_URL=jdbc:postgresql://localhost:5432/order_service_db?reWriteBatchedInserts=true
DB_USERNAME=postgres
DB_PASSWORD=albin
SERVER_PORT=8084
KEYCLOAK_ISSUER_URI=http://localhost:8180/realms/project-aegis
SPRING_PROFILES_ACTIVE=dev
SERVICE_ORDER_URL=http://localhost:8084
SERVICE_PRODUCT_URL=http://localhost:8082
SERVICE_USER_URL=http://localhost:8081
SERVICE_INVENTORY_URL=http://localhost:8083
INTERNAL_API_KEY=a1b2c3d4-e5f6-7890-abcd-ef1234567890
INVENTORY_INTERNAL_API_KEY=1Pl0Tb4dLONcJ9wzTEkdt3reX1YXC9un
