DB_URL=jdbc:postgresql://localhost:5432/aegis_payment_db?reWriteBatchedInserts=true
DB_USERNAME=postgres
DB_PASSWORD=postgres
SERVER_PORT=8085
KEYCLOAK_ISSUER_URI=http://localhost:8180/realms/project-aegis
KEYCLOAK_AUTH_SERVER_URL=http://localhost:8180
KEYCLOAK_REALM=project-aegis
KEYCLOAK_RESOURCE=payment-service
KEYCLOAK_CREDENTIALS_SECRET=secret
SPRING_PROFILES_ACTIVE=dev
