DB_URL=db_url
DB_USERNAME=your_username
DB_PASSWORD=your_password
SERVER_PORT=port
KEYCLOAK_ISSUER_URI=keycloak-issuer-uri
SPRING_PROFILES_ACTIVE=active-profile
SERVICE_PRODUCT_URL=product-service-url
INTERNAL_API_KEY=api-key-for-internal-service-communication